:root {
    --link-color: #CC9933;
    --bg-color: #FFFFFF;
    --text-color: #000000;
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

html {
    font-family: 'Muller', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

body {
    background: #E9E9E9;
}

.container {
    max-width: 1200px;
    /* margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; */
}

/* HEADER */
.header {
    height: 154px;
    padding-top: 30px;
    margin-bottom: 70px;
}

.header__container-top {
    margin-bottom: 30px;
}

.header__container-bottom {
    display: flex;
    height: 70px;
    width: 1170px;
    align-items: center;
    background: var(--bg-color, #FFFFFF);
    border-radius: 15px;
}

.header__container-bottom_left {
    margin-right: auto;
}

.logo {
    height: 54px;
    width: 261px;
    border-radius: 15px;
}

.header__number {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.header__cabinet {
    color: var(--link-color, #CC9933);
}

.nav__list {
    display: flex;
}

.nav__link {
    color: #666666;
}

.nav__link:hover {
    color: var(--link-color, #CC9933);
}

.nav__item:not(:last-child) {
    margin-right: 45px;
}

.header__nav-list {
    margin-left: 45px;
}

.btn {
    padding: 13px 20px;
    color: var(--link-color, #CC9933);
    border: 1px solid var(--link-color, #CC9933);
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, scale 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--link-color, #CC9933);
    color: white;
    scale: 1.1;
    cursor: pointer;
}

.header__btn {
    margin-right: 45px;
}

.link-hover {
    position: relative;
    transition: color 0.3s ease-in-out;
}

.link-hover::after {
    content: '.';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    color: transparent;
    background: var(--link-color, #CC9933);
    height: 2px;
    transition: width 0.3s ease-in-out;
}

.link-hover:hover::after {
    width: 100%;
}



/* SPECOFFER */

.section-special-offers {
    padding-bottom: 70px;
}

.section-title {
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.specoffer__left-card {
    padding: 40px 45px;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

.specoffer_left-upper-card {
    background: url(/pet1.0/img/maldivskie.png) no-repeat center;
}

.specoffer_left-lower-card {
    background: url(/pet1.0/img/goriashiykrit.png) no-repeat center;
}

.specoffer__left-card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
    border-radius: 15px;
}

.specoffer__right-content {
    min-height: 540px;
    padding: 212px 45px 40px;
    background: url(/pet1.0/img/nomera\ luxe.png) no-repeat center;
    background-size: cover;
    border-radius: 15px;
}

.specoffer__title {
    margin: 0 0 15px 0;
    width: 420px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: var(--bg-color, #FFFFFF);
}

.specoffer__left-card .specoffer__title {
    filter: brightness(100%);
}

.specoffer_luxe {
    width: 299px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.specoffer__price {
    margin: 0 0 47px;
    font-size: 20px;
    line-height: 20px;
    color: var(--bg-color, #FFFFFF);
    opacity: 0.8;
}

.specoffer__link {
    color: #F0BF5F;
}

.link-arrow {
    padding-right: 20px;
    background: url('../img/link-arrow.svg') no-repeat right center transparent;
    background-size: 18px 18px;
}


/* ABOUT US */
.section-about-us {
    padding-bottom: 70px;
}

.about-us__text {
    line-height: 200%;
    color: var(--text-color, #000000);
}

/* service */
.section-our-service {
    padding-bottom: 70px;
}

.service__item {
    background: var(--bg-color, #FFFFFF) no-repeat top center;
    background-size: contain;
    border-radius: 15px;
    padding: 191px 126px 35px 45px;
}

.service__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--link-color, #CC9933);
}

.service__description {
    line-height: 200%;
    color: var(--text-color, #000000);
}

.service__item_service {
    background-image: url(/pet1.0/img/10.jpg);
}

.service__item_rent {
    background-image: url(/pet1.0/img/15.png);
}

.service__item_sauna {
    background-image: url(/pet1.0/img/12.png);
}

.service__item_security {
    background-image: url(/pet1.0/img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.png);
}

/* BENEFITS */

.section-benefits {
    padding-bottom: 70px;
}

.benefits__item {
    background-color: var(--bg-color, #FFFFFF);
    border-radius: 15px;
    padding: 40px 42px 32px 45px;

}

.benefits__item-text {
    max-width: 190px;
    line-height: 200%;
    color: var(--text-color, #000000);
}

.icon {
    background: no-repeat center left transparent;
    background-size: contain;
}

.benefits__icon {
    margin-bottom: 10px;
}

.icon-bath {
    background-image: url(/pet1.0/img/bathtub.svg);
    width: 64px;
    height: 66px;
}

.icon-sushka {
    background-image: url(/pet1.0/img/sushka.svg);
    width: 67px;
    height: 66px;
}

.icon-heating {
    background-image: url(/pet1.0/img/heating.svg);
    width: 64px;
    height: 66px;
}

.icon-hotel {
    background-image: url(/pet1.0/img/hotel.svg);
    width: 66px;
    height: 66px;
}

.icon-parking {
    background-image: url(/pet1.0/img/parking.svg);
    width: 66px;
    height: 66px;
}

.icon-reception {
    background-image: url(/pet1.0/img/reception.svg);
    width: 67px;
    height: 66px;
}

.icon-security {
    background-image: url(/pet1.0/img/security.svg);
    width: 67px;
    height: 66px;
}

.icon-pool {
    background-image: url(/pet1.0/img/pool.svg);
    width: 64px;
    height: 66px;
}


/* BOOKING */
.section-booking {
    padding-bottom: 70px;
}

/* .booking__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
} */

.booking__item {
    /* flex: 1 1 30%; */
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color, #FFFFFF);
    border-radius: 15px;
}

.booking__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 45px 45px;
}

.booking__offer {
    display: flex;
    gap: 52px;
    align-items: center;
}

.stars-icon {
    display: flex;
    align-items: center;
    gap: 6px;
    transform: translateY(-2px);
}

.text-gray {
    color: #999999;
}

.offer__price {
    font-size: 20px;
    line-height: 20px;
}

.booking__last-item {
    padding: 373px 50px 27px;
    background: url(/pet1.0/img/41.png) no-repeat center;
    background-size: cover;
    position: relative;
}

.booking__link {
    padding-right: 20px;
    background: url('../img/white-arrow.svg') no-repeat right center transparent;
    background-size: 18px 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--bg-color, #FFFFFF);
}

.booking__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

/* WANT TOUR */
.want-tour {
    padding-bottom: 70px;
}

.want-tour__container {
    width: 1170px;
    background: #E5E5E5;
    border-radius: 15px;
}

.want-tour__title {
    padding-top: 45px;
}

.want-tour__form-container {
    padding: 0 45px 45px;
}

.want-tour__form {
    display: flex;
    padding: 32px 28px;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color, #FFFFFF);
    border-radius: 15px;
}

.form__container {
    display: flex;
    gap: 41px;
}

.form__window {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tour-btn {
    min-width: 100px;
}

.input {
    border: none;
}

input[type=number] {
    width: 120px;
    border-bottom: 1px solid #E9E9E9;
}

label {
    font-size: 12px;
    line-height: 12px;
}

/* CONTACTS */
.section-contacts {
    padding-bottom: 40px;
}

.contacts__container {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    padding: 45px;
    background: var(--bg-color, #FFFFFF);
    border-radius: 15px;
}

.contacts__container-card {
    display: flex;
    flex-direction: column;
}

.contacts__item {
    display: flex;
    padding-bottom: 23px;
    border-bottom: 1px solid #E9E9E9;
    line-height: 150%;
}

.contacts__item:not(:first-child) {
    padding-top: 25px;
}

.contacts__title {
    width: 100px;
    margin-right: 47px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.contacts__description {
    width: 229px;
}

.contacts__btn {
    margin-top: 45px;
    padding: 27px 30px;
}

.contacts__img {
    width: 653px;
    height: 528px;
    border-radius: 10px;
}

.contacts__link {
    color: var(--link-color, #CC9933);
    line-height: 150%;
}

/* FOOTER */
.footer {
    height: 341px;
    margin-bottom: 30px;
}

.footer__container {
    display: flex;
    height: 100%;
    width: 1170px;
    background: #333333;
    border-radius: 15px;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
}

.footer__copirights {
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-right: 125px;
    width: 302px;
}

.footer__text {
    font-size: 16px;
    font-style: normal;
    line-height: 30px;
    color: var(--bg-color, #FFFFFF);
}

.footer__contats-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__logo {
    background: url(/pet1.0/img/footer-logo.svg) no-repeat center transparent;
    background-size: contain;
    width: 254px;
    height: 228px;
    align-self: flex-end;
    position: relative;
    right: 90px;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* вариант с декоративными иконками, без ховера */
/* .footer__nav-icon {
    background: no-repeat center transparent;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.trip-adviser-icon {
    background-image: url(/pet1.0/img/tripadvisor-icon.svg);
}

.ok-icon {
    background-image: url(/pet1.0/img/ok-icon.svg);
}

.vk-icon {
    background-image: url(/pet1.0/img/vk-icon.svg);
} */

.svg_hover path {
    transition: fill 0.3s ease-in-out;
}

.svg_hover:hover path {
    fill: var(--link-color, #CC9933);
}